
.header-main {
    padding: 70px 0;
}

.header-main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main .header-info {
    display: flex;
    row-gap: 25px;
    flex-direction: column;
    align-items: flex-start;
}

.header-main .header-info h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    text-align: left;
}

.header-main .header-info h1 span {
    font-weight: 700;
}

.header-main .header-info p {
    line-height: 22px;
}

.header-action {
    display: flex;
    column-gap: 4px;
    padding-top: 30px;
    align-items: center;
}

.but-main:hover {
    background-color: #fff;
    color: #000 !important;
}

.social-links {
    display: flex;
    column-gap: 15px;
    list-style: none;
    transform: translateY(95px);
}

.social-links a {
    color: #000;
    display: block;
    min-width: 36px;
    font-size: 20px;
    padding: 4px 8px;
    text-align: center;
}

.social-links a svg {
    font-size: 28px;
}

.header-image {
    width: 500px;
}

.header-action .but-play {
    color: #000;
    column-gap: 8px;
    padding: 8px 25px;
    align-items: center;
    display: inline-flex;
    transition: color .4s;
    text-decoration: none;
}

.header-action .but-play i {
    font-size: 32px;
    color: #f3b01b;
}
