.features  {
    padding: 80px 0;
    background-color: #fff;
}

.features .section-title {
    text-align: center;
    margin-bottom: 80px;
}

.features .section-title h2 {
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 10px;
    line-height: 32px;
    text-align: center;
}

.features .section-title p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    max-width: 600px;
}

.features .section-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 80px;
}

.features .section-box .section-image {
    width: 450px;
}


.features .section-box .section-info {
    flex-grow: 1;
}

section.features .section-box .section-info ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

section.features .section-box .section-info ul li.dropbox {
    background-color: #fff;
    box-shadow: 2px 2px 18px rgb(0 0 0 / 5%);
    border-radius: 27px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
}

section.features .section-box .section-info ul li.dropbox .dropbox-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    cursor: pointer;
    padding: 15px 25px;
}

section.features .section-box .section-info ul li.dropbox .dropbox-head div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.features .section-box .section-info ul li.dropbox .dropbox-head div svg {
    margin-right: 15px;
    color: #f3b01b;
    font-size: 1.5em;
}

.features .section-box .section-info p {
    line-height: 25px;
}

section.features .section-box .section-info ul li.dropbox .dropbox-collapse {
    border-top: 1px solid #f3f3f3;
    display: none;
    padding: 20px 25px 25px;
}

section .section-foot {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

section.features .section-box .section-info p {
    line-height: 25px;
}